*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color:#261928;
    background:linear-gradient(180deg,rgba(38,25,40,1)46%,
    rgba(0,0,0,1)100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div#header{
    display:flex;
    align-items:center;
}

div#perguntas{
    display: flex;
    flex-direction: column;
    justify-content:left;
    color: white;
    border-radius:20px;
    border: 2px solid white;
    background-color: black;
    padding: 20px;
    margin: 40px;
    width: 55%;
    justify-content:start;
    text-align:start; 
    margin: 20px;

}

form{
    background-color:black;
    margin:5px;
    font-size: 18px;
}

label{
    font-family:Verdana, 'Geneva', Tahoma, sans-serif;
    font-size: 13px;
    text-align:start;
    margin: 1px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

main {
    border-radius:20px;
    border: 2px solid white;
    background-color: black;
    padding: 2%;
    margin: 70px 100px;
    width: 80%;
    height: 80%;
    text-align:start; 
    position: relative;
    }

img#imagem-header{
    width: 45%;
    margin: 5%;
    display: flex;
    position:absolute;
    left:45%; 

}

.imagem-pergunta{
    width: 600px;
    height: 90%;
    margin: 0;
    display: flex;
    position:absolute;
    left:55%;
}


h1{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
    margin-right: 50%;
    padding: 0px;
    text-align: start;
    text-transform: uppercase;
    line-height: 110%;
    }

h3{
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align:start;
    margin-right: 40%;
    padding: 10px;
    }

p#textodeatenção{
    color:red;
    font-family:arial;
    font-size: 12px;
    text-align:start;
    padding: 10px;
    margin: 1px;
    }

.primary-bottom{
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 10px; 
    padding: 10px 5px; 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px; 
    width: 20%;
    text-align: center;
    background-color: #641a76;
    color: white; 
    border-radius: 15px; 
    text-decoration: none;
    text-transform: capitalize;        
    }

a{
    color:blue;
}